.App {
  text-align: center;
 }
  .left-content{
    border: 1px solid red;
width: 25vw;
height: 100vh;
display: flex;
flex-direction: column;
gap:1rem;
background-color: skyblue;
  }
  .right-content{
    border: 1px solid blue;
    width: 75vw;
    height: 100vh;
  }
  button {
    padding: 10px;
    width: 150px;
    margin: 10px;
    border-radius: 15px;
    
  }
  

    
  @media only screen and (max-width: 626px) {
button{
   
width: 100px;
} 
    } 
    @media only screen and (min-width:900px){
      .left-content{
        width: 200px;
      }
    }
    @media only screen and (min-width:900px){
      .right-content{
        width: 100%;
      }
    }

    .details{
      display: flex;
      justify-content: space-around;
      gap: 2rem;
    }
    .box{
     width : 600px;
      border: 1px solid blue;
      margin: 10px;
      padding: 10px;
    }
    img{
      width: 100%;
      
      
    }
    .dashboard-container{
      background-color: rgb(243, 237, 237);
    }
    .row {
 gap: 3rem;
    }
     
  header {
    margin-bottom: 2rem;
  font-weight: bold;
  }
